#menu{
    border-radius: 30px;
    background-color: #232323;
    color: White;
    
    width: 2000px;
    height: 50px;
    padding-left: 15px;
    align-items: flex-start;
    
}
a{
color:aliceblue;
font-size: xx-large;


}
a :hover{
   
    cursor:pointer;
}
#buttons{
    background-position: top;
    
    font-size: xx-large;
}
#sub{
    background-color: #dd0000;
    color: white;
    border-radius:11px;
    height: 32px;
    width: 99px;
    border:0;
    font-size: large;
    
    font-family: Arial;
    font-weight: 850;
    margin-right: 5px; 
    transition: opacity 2s;
    transition: background-color 0.3s;
    box-shadow: 2px 5px 10px black;


}
#sub:hover{
    background-color: rgba(1, 1, 1, 0.8);
    color: #dd0000;
    text-shadow: #ffffff;



}
#sub:hover:active{
    background-color:black;
}
